@font-face {
    font-family: gilroy;
    src: url('fonts/Gilroy-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    /* user-select: none;
    cursor: none; */
}
 
html,body{
height: 100%;
width: 100%;

}

#main{
    width: 100%;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

i{
    color: #000;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    height: 80px;
    /* background-color: red; */
}

#nav>img{
    width: 100px;
}

#n-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    color: #000;
}

#page-1{
    width: 100%;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
}

#main-text{
    display: flex;
    justify-content: center;
    flex-direction:column;
}


#p1-down{
    display: flex;
    gap: 12px;
    font-size: 3vmax;
    color: transparent;
    -webkit-text-stroke: 0.1px black;
    user-select: none;
}
#p1-down>h1:hover{
    color: black;
}
#p1-down>h1::selection{
    background-color: white;
    color: black;
}

/* Page-2 Starts Here */

#page-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 200px;
    min-height: 100vh;
    padding-left: 200px;
}

#p2-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgb(254, 158, 158);
}

#p2-left video{
    width: 400px;
    height: 400px;
}

#p2-right{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 500px;
    height: 500px;
    gap: 20px;
    /* background-color: rgb(155, 255, 155); */
}

#p2r-heading{
    font-size: 2vmax;
    width: 70%;
}
#p2r-heading h3{
    font-weight: 400;
}

#p2-right button{
    background-color: white;
    border: 1px black solid;
    padding: 40px 100px;
    width: fit-content;
    border-radius: 80px;
    font-size: 20px;
}


/* Page-3 Starts Here */

#page-3{
    background-color: #000;
    width: 100%;
    /* min-height: 100vh; */
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 40px 0;
}

#p3-heading{
    color: white;
    padding: 20vh 10vw;
    font-size: 4vmax;
}
#p3-heading h1{
    font-weight: 400;
}
#p3-heading h1>span{
    font-style: italic;
}

/* Page-4 Starts */

#page-4 {
    width: 100%;
    padding: 10vw 15vw;
}

.fheading>h1 {
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}

.fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#fimages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin-top: 5vw;
}

#fleft {
    overflow: hidden;
    width: 45%;
    height: inherit;
}

.fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.fleftelm h1 {
    font-size: 3vmax;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelm h3 {
    font-size: 2vmax;
    font-weight: 400;
}

.fleftelm h4 {
    font-size: 1.2vmax;
    opacity: .5;
}

#fright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
}

#fright .images {
    width: 90%;
    height: 90%;
    overflow: hidden;
}

#fright .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button {
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    font-size: 1.2vmax;
    font-weight: 500;
    letter-spacing: -1px;
}

/* Page-5 Starts Here */

#page-5{
    width: 100%;
    min-height: 30vh;
    background-color: #fff;
}

#p5-roll{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 4vmax;
    white-space: nowrap;
    overflow-x: hidden;
}
#p5-roll h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



@media (width<=768px){
    #p1-down{
        font-size: 1.5vmax;
    }
    #page-2{
        padding-left: 0px;
    }
    #p2-right{
        align-items: center;
    }
    #p2-left video{
        width: 300px;
        height: 300px;
    }
    #page-2{
        gap: 80px;
    }

    #p2-right button{
        padding: 20px 80px;
        width: fit-content;
        border-radius: 80px;
        font-size: 14px;
    }

    #p3-heading{
        font-size: 2vmax;
    }

    #p3-heading{
        padding: 50px;
    }
    
    #fright .images {
        width: 100%;
        height: 30%;
    }
}